<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" th:href="@{/static/favicon.ico}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Web site created using create-react-app"/>
    <link rel="apple-touch-icon" th:href="@{/static/logo192.png}"/>
    <link rel="manifest" th:href="@{/static/loginPage/manifest.json}"/>
    <title>React App</title>
    <script defer="defer" th:src="@{/static/loginPage/js/main.5212906e.js}"></script>
    <link th:href="@{/static/loginPage/css/main.e3e17aad.css}" type="text/css" rel="stylesheet">
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
</body>
</html>